.plagkhal {
    display: flex;
    align-items: center;
    margin-top: 10px;
    min-width: 200px;
}

.plagkhal .icon_size {
    width: 20px;
    height: auto;
}
.plagkhal span.high,
.plagkhal span.middle,
.plagkhal span.low {
    font-weight: 700;
    text-decoration: none;
}
.plagkhal span.high > span,
.plagkhal span.middle > span,
.plagkhal span.low > span {
    border-radius: 100%;
    width: 12px;
    height: 12px;
    display: inline-flex;
    margin-right: 4px;
}

.plagkhal span.high > span {
    background: #d30a0a;
}
.plagkhal span.middle > span {
    background: #b58f04;
}
.plagkhal span.low > span {
    background: #1ab21e;
}

.plagkhal span.high {
    color: #d30a0a;
}

.plagkhal span.middle {
    color: #b58f04;
}

.plagkhal span.low {
    color: #1ab21e;
}

.plagkhal span.strong {
    font-weight: 500;
}

.plagkhal-text-gray {
    color: #1d2125;
}

.plagkhal-text-warn {
    color: #d30a0a;
    font-weight: 600;
}

.plagkhal-student-disclosure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #f7f7f7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: -16px;
}
.plagkhal-student-disclosure-checkbox {
    margin-bottom: 0;
    margin-left: 5px;
}

.plagkhal-edit-settings-note {
    font-weight: bold;
    margin-bottom: 10px;
}

a.plagkhal-settings-link:hover {
    text-decoration: none;
}

.plagkhal-settings-btn {
    width: 180px;
    height: 36px;
    background-color: #17a1ff;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
